In [1]:
import os
import pandas as pd

from tqdm import tqdm

#セットアップ
tqdm.pandas()

import sys
sys.path.append("/kaggle/src")
from kaggle_metrics.kaggle_kl_div import compute_each_score

In [2]:
train = "/kaggle/input/hms-harmful-brain-activity-classification/train.csv"

In [3]:
train_df = pd.read_csv(train)

In [7]:
len(train_df)

106800

In [6]:
len(train_df["eeg_id"].unique()), len(train_df["patient_id"].unique())

(17089, 1950)

In [4]:
vote_cols = ['seizure_vote', 'lpd_vote', 'gpd_vote', 'lrda_vote', 'grda_vote', 'other_vote']
for i, id_ in enumerate(train_df["patient_id"].unique()):
    print("patient id:", id_)
    patient_df = train_df[train_df["patient_id"] == id_]
    display(patient_df[vote_cols])
    if i > 5:
        break

patient id: 42516

        seizure_vote  lpd_vote  gpd_vote  lrda_vote  grda_vote  other_vote
0                  3         0         0          0          0           0
1                  3         0         0          0          0           0
2                  3         0         0          0          0           0
3                  3         0         0          0          0           0
4                  3         0         0          0          0           0
5                  3         0         0          0          0           0
6                  3         0         0          0          0           0
7                  3         0         0          0          0           0
8                  3         0         0          0          0           0
13642              3         0         0          0          0           0
13643              3         0         0          0          0           0
13644              3         0         0          0          0           0
13645              3         0         0          0          0           0
13646              3         0         0          0          0           0
13647              3         0         0          0          0           0
13648              3         0         0          0          0           0
13649              3         0         0          0          0           0
13650              3         0         0          0          0           0
13651              3         0         0          0          0           0
13652              3         0         0          0          0           0
13653              3         0         0          0          0           0
13654              3         0         0          0          0           0
13655              3         0         0          0          0           0
59083              3         0         0          0          0           0
59084              3         0         0          0          0           0
59085              3         0         0          0          0           0
59086              3         0         0          0          0           0
59087              3         0         0          0          0           0
59088              3         0         0          0          0           0
59089              3         0         0          0          0           0
59090              3         0         0          0          0           0
59091              3         0         0          0          0           0
106091             3         0         0          0          0           0
106092             3         0         0          0          0           0
106093             3         0         0          0          0           0
106094             3         0         0          0          0           0
106095             3         0         0          0          0           0
106096             3         0         0          0          0           0
106097             3         0         0          0          0           0
106098             3         0         0          0          0           0
106099             3         0         0          0          0           0
106100             3         0         0          0          0           0

patient id: 30539

        seizure_vote  lpd_vote  gpd_vote  lrda_vote  grda_vote  other_vote
9                  0         0         5          0          1           5
10                 0         0         5          0          1           5
2240               4         0        11          0          0           0
2241               4         0        11          0          0           0
2242               4         0        11          0          0           0
...              ...       ...       ...        ...        ...         ...
101235             0         0         0          0          0           1
102496             0         0         0          0          0           1
102497             0         0         0          0          0           1
103619             0         0         0          0          0           1
105351             0         0         0          0          0           1

[238 rows x 6 columns]

patient id: 56885

        seizure_vote  lpd_vote  gpd_vote  lrda_vote  grda_vote  other_vote
11                 0         1         0         14          0           1
12                 0         1         0         14          0           1
13                 0         1         0         14          0           1
14                 0         1         0         14          0           1
15                 0         1         0         14          0           1
...              ...       ...       ...        ...        ...         ...
100626             0         2         0         13          0           0
100627             0         2         0         13          0           0
100628             0         2         0         13          0           0
100629             0         2         0         13          0           0
100630             0         2         0         13          0           0

[732 rows x 6 columns]

patient id: 4264

       seizure_vote  lpd_vote  gpd_vote  lrda_vote  grda_vote  other_vote
22                0         0         0          3          0           0
23                0         0         0          3          0           0
24                0         0         0          3          0           0
25                0         0         0          3          0           0
26                0         0         0          3          0           0
27                0         0         0          3          0           0
65842             4         0         0          0          0           0
65843             4         0         0          0          0           0
65844             3         0         0          0          0           0
65845             3         0         0          0          0           0
65846             3         0         0          0          0           0
65847             3         0         0          0          0           0

patient id: 23435

       seizure_vote  lpd_vote  gpd_vote  lrda_vote  grda_vote  other_vote
28                3         0         0          0          0           0
29                3         0         0          0          0           0
30                3         0         2          0          0           0
31                3         0         2          0          0           0
32                3         0         2          0          0           0
33                3         0         2          0          0           0
34                3         0         2          0          0           0
42908             3         0         0          0          0           0
42909             3         0         0          0          0           0
42910             3         0         0          0          0           0
42911             3         0         0          0          0           0
42912             3         0         0          0          0           0
42913             3         0         0          0          0           0
42914             3         0         0          0          0           0
42915             3         0         2          0          0           0
42916             3         0         0          0          0           0
42917             3         0         0          0          0           0
42918             3         0         0          0          0           0
81101             3         0         0          0          0           0
81102             3         0         0          0          0           0
81103             3         0         0          0          0           0
81104             3         0         2          0          0           0
81105             3         0         2          0          0           0
81106             3         0         2          0          0           0
81107             3         0         2          0          0           0
81108             3         0         0          0          0           0
81109             3         0         0          0          0           0
81110             3         0         0          0          0           0

patient id: 34554

       seizure_vote  lpd_vote  gpd_vote  lrda_vote  grda_vote  other_vote
35                0         0         5          0          0           9
4101              0         3         4          0          0           5
4102              0         3         4          0          0           5
4103              0         3         4          0          0           5
6360              0         1         1          0          0           0
...             ...       ...       ...        ...        ...         ...
94614             1         2         7          0          0           4
94615             1         2         7          0          0           4
94616             1         2         7          0          0           4
94617             1         2         7          0          0           4
94618             1         2         7          0          0           4

[113 rows x 6 columns]

patient id: 10187

        seizure_vote  lpd_vote  gpd_vote  lrda_vote  grda_vote  other_vote
36                 0         0         1          0          0           2
37                 0         0         1          0          0           2
38                 0         0         0          0          0           3
39                 0         0         0          0          0           3
40                 0         0         0          0          0           3
...              ...       ...       ...        ...        ...         ...
105561             1         0         0          0          0           2
105562             1         0         0          0          0           2
105563             1         0         0          0          0           2
105564             1         0         0          0          0           2
105565             1         0         0          0          0           2

[616 rows x 6 columns]